<div class="country-wrap">
  <div>
    Gas
    <input type="text"  [value]="gas" (input)="gas = $event.target.value" />
    Oil
    <input type="text"  [value]="oil" (input)="oil = $event.target.value" />
    Cooling Liquid
    <input type="text"  [value]="coolingLiquid" (input)="coolingLiquid = $event.target.value" />
  </div>
  <div>
    <button (click)="isKeyIn = true" >Put The Key In!</button>
    <button (click)="ignite()"  [disabled]="isKeyIn === false" >Ignite!</button>
    <button (click)="start()" [disabled]="!isKeyIn || !ignited" >Move The Car!</button>
    <button (click)="stop()" [disabled]="!isKeyIn || !ignited">Stop The Car!</button>
  </div>
	<div class="sun"></div>
	<div class="grass"></div>
	<div class="street">
		<div class="car" [ngClass]="{'running' : isRunning}" >
		<div class="car-body">
			<div class="car-top-back">
				<div class="back-curve"></div>
			</div>
			<div class="car-gate"></div>
			<div class="car-top-front">
				<div class="wind-sheild"></div>
			</div>
			<div class="bonet-front"></div>
			<div class="stepney"></div>
		</div>
		<div class="boundary-tyre-cover">
			<div class="boundary-tyre-cover-back-bottom"></div>
			<div class="boundary-tyre-cover-inner"></div>
		</div>
		<div class="tyre-cover-front">
			<div class="boundary-tyre-cover-inner-front"></div>
		</div>
		<div class="base-axcel">

		</div>
		<div class="front-bumper"></div>
		<div class="tyre" [ngClass]="{'running' : isRunning}">
			<div class="gap"></div>
		</div>
		<div class="tyre front" [ngClass]="{'running' : isRunning}">
			<div class="gap"></div>
		</div>
		<div class="car-shadow"></div>
	</div>
	</div>
	<div class="street-stripe"></div>
	<div class="hill">
	</div>

</div>
